main {
    padding-top: 4rem;
    width: 80%;
    margin: 0 auto;
}

#project_description {
    color: hsl(210, 100%, 55%);
    padding: 1rem;
}

h3 {
    padding: 1rem 0 0.5rem;
}

#project_description p {
    text-align: justify;
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 375px) {
    main {
        width: 100%;
    }
}