* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #dff8eb;
    background-color: #dff8eb;
}


/* Header Section */

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 4rem;
    background-color: #011638;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    z-index: 1;
}

header h1 {
    text-shadow: 3px 3px 0 #364156;
}

header .nav {
    display: flex;
    gap: 0.5rem;
}

.nav li {
    list-style: none;
}

header a {
    color: #dff8eb;
    text-decoration: none;
}
.nav a {
    padding: 0.75rem 1rem;
}
.nav a:hover {
    background-color: #cdcdcd;
    color: #364156;
    border-radius: 5px;
    transform: background-color 0.3s ease;
}
.nav a:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 605px) {
    header {
        height: 4.5rem;
    }
}

@media only screen and (max-width: 360px) {
    header h1 {
        font-size: 8.5vw;
    }
}